<div class="unav col-sm-12 col-md-2 col-xl-2">
    <section class="row flex-row flex-md-column justify-content-sm-start justify-content-start p-1 align-">
        
        <button type="button" id="mbtn" class="btn btn-secondary sbuts mr-1 mr-md-0">Cart <span class="badge badge-light">0</span></button>
        <button type="button" id="obtn" class="btn btn-secondary sbuts mr-1 mr-md-0">Orders</button>
        <button type="button" id="mbtn" class="btn btn-secondary sbuts mr-1 mr-md-0">Messages <span class="badge badge-light">0</span></button>
        <button type="button" id="sbtn" class="btn btn-light sbuts mr-1 mr-md-0">Settings</button>
    </section>
</div>