<%- layout('/layouts/boilerplate')%>
<h1 class="pt-4 justify-content-end">
    <%=status%>
</h1>
<hr>
<h2><%-message%></h2>
<!-- <button id="cake" class="btn container-fluid">cake</button> -->
<nav class="col-12" aria-label="breadcrumb mt-5">
    <ol class="breadcrumb col-12 justify-content-center">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active"  aria-current="page">404</li>
    </ol>
</nav>