<%- layout('/layouts/boilerplate')%>
<h1 class="pt-4 m-0">Welcome to RobloxTrade!<br/></h1>
<hr>
<div class="alert alert-success alert-dismissible fade show">
    <h2 class="alert-heading">Hello<%= typeof currentUser !== 'undefined' ? ', '+currentUser.username : ''%>!</h2>
    Please let us know if you find any issues.
    <button type="button" class="btn-close" data-dismiss="alert" aria-label="close"><span aria-hidden="true"></span></button>
</div>
<section class="py-2">
    <h3 id="btcText" class="text-uppercase mb-3">btc price</h3>
    <hr class="w-50 container-fluid">
    <ul class="list-group">
        <li id="btcPriceTxt" class="list-group-item align-self-center"><span id="btcPrice">0</span> <span id="btcPriceCur">USD</span></li>
    </ul>
    <hr class="w-50 container-fluid">
</section>
<h2>Work</h2>
<h3>in</h3>
<h4>progress</h4>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt deserunt explicabo consequatur sint perspiciatis velit exercitationem, dolores esse, repellat, nam soluta? Placeat corporis cupiditate mollitia, sint beatae quia minus eveniet!</p>
<br/>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam vel maiores pariatur beatae! Blanditiis, fugiat neque! Recusandae porro totam dolorem aspernatur cum, reiciendis consequuntur at minima voluptatum voluptatibus modi unde.Sit voluptate ab error unde dignissimos hic pariatur reiciendis a, culpa velit nostrum magni praesentium eaque recusandae blanditiis beatae? Odio voluptas ipsam quidem id delectus temporibus corrupti doloribus deleniti rem!</p>
