<%- layout('/layouts/boilerplate')%>
<h1 class="pt-4">
    Website created by <small class="text-muted">Abel Espitia</small>
</h1>
<div class="flex-fill container py-2 border rounded row m-0 p-0">
    <div class="col-6">
        <h2 class="text-secondary mb-2">Roblox Space ship</h2>
        <div class="p-1 m-1 border rounded">
            <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 62.5%;"><iframe src="https://streamable.com/o/nm8lj3" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen scrolling="no" allow="encrypted-media"></iframe></div>
        </div>
    </div>
    <div class="col-6">
        <h2 class="text-secondary mb-2">Roblox Turret</h2>
        <div class="p-1 m-1 border rounded">
            <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 62.5%;"><iframe src="https://streamable.com/o/lx06bi" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen scrolling="no" allow="encrypted-media"></iframe></div>
        </div>
    </div>
    <div class="col-6">
        <h2 class="text-secondary mb-2">Roblox Space ship</h2>
        <div class="p-1 m-1 border rounded">
            <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 62.5%;"><iframe src="https://streamable.com/o/nm8lj3" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen scrolling="no" allow="encrypted-media"></iframe></div>
        </div>
    </div>
    <div class="col-6">
        <h2 class="text-secondary mb-2">Roblox Space ship</h2>
        <div class="p-1 m-1 border rounded">
            <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 62.5%;"><iframe src="https://streamable.com/o/nm8lj3" style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;" allowfullscreen scrolling="no" allow="encrypted-media"></iframe></div>
        </div>
    </div>
</div>
</iframe>
<p class="mb-0 text-left">The only thing worse than failure is not trying at all.</p>
<blockquote><footer class="blockquote-footer text-center">My favorite quote</footer></blockquote>