::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #433;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

body,html {
    width: 100%;
    height: 100%;
}
h1,h2,h3 {
    color: rgb(27, 0, 0);
}
.btn-seller {
    background-color: #00ca43;
}
.btn-seller:hover {
    background-color: rgb(139, 242, 98);
    
}
.main-content {
    height: 100%;
}
.mcontent {
    min-height: 900px;
}
footer {
    height: 30%;
    background-color: rgb(100,100,100);
    border-style: solid;
    border-radius: 2px;
    border-color: rgb(77,55,55);
}
footer a {
    color: white;
    font-size: 2rem;
}
#navLogo {
    max-height: 32px;
}
#pEdit {
    position: absolute;
    top: 0;
}
#pDesc {
    min-height: 4rem;
}
#page {
    /* max-width: 1820px; */
}
#Rating {
    font-size: 1.25rem;
}
a {
    text-decoration: none;
}
.pLink {
    font-size: 1.5rem;
    color: black;
    -webkit-text-fill-color: rgb(0, 87, 145);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-decoration: none;
}
.pLink:hover {
    text-shadow: 1px 1px 3px black;
    transform: 200ms;
}
@media (max-width: 1500px){
    .pLink {
        font-size: 1.2rem;
    };
}
@media (max-width: 900px){
    .pLink {
        font-size: 2rem;
    };
}
#overMessages {
    position: fixed;
    margin-left: 20%;
    width: 60%;
    z-index: 100;
}
#inner-messageR {
    margin: 0 auto;
    background-color: rgba(200,100,100,0.9);
}
#inner-messageB {
    margin: 0 auto;
    background-color: rgba(144, 220, 255, 0.685);
}
#inner-messageG {
    margin: 0 auto;
    background-color: rgba(0, 255, 98, 0.5);
}
.navbar-brand {
    font-weight: 800;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 5px;
}
#btcPriceTxt {
    font-size: 2.5rem;
    width: 50%;
}
@media (max-width: 900px){
    #btcPriceTxt {
        font-size: 2rem;
        width: 100%;
    }
}
#btcPrice {
    color: orange;
}
#btcPriceCur {
    color: green;
}
#signup {
    max-width: 50rem;
    transition: 250ms;
}
.media-container {
    display: flex;
    height: 500px;
    width: 1000px;
}
.navbar-brand:hover {
    color: rgba(130,130,220,0.9);;
    background-color: rgba(90,90,200,0.5);
}

.unav{
    background-color: #DDE;
}

.sbuts {
    height: 2rem;
    margin-top: 1px;
    margin-bottom: 1px;
}