<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favico.png" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <title><%=title%> - SudoStudios</title>
</head>
<body class="m-3 p-0">
    <section id="page">
        <%- include('navbar')%>
        <section class="row m-0">
            <%- include('unav')%>
            <div id="overMessages"></div>
            <%- body -%>
        </section>
        <footer class="row m-0 mt-1">
            <div class="container-fluid bg-white text-center pt-3 pb-2 rounded-bottom">
                <a class="p-1" href="/about">About</a>
                <a class="p-1" href="https://google.com">Contact me</a>
            </div>
        </footer>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.min.js" integrity="sha384-5h4UG+6GOuV9qXh6HqOLwZMY4mnLPraeTrjT5v07o347pj6IkfuoASuGBhfDsp3d" crossorigin="anonymous"></script>
    <script src="/js/modular.js"></script>
    <%  if (title == "Home") {  %> 
    <script src="/js/btcXHR.js"></script>
    <%  };if (title == "Game") {  %> 
    <script src="/js/game.js"></script>
    <%  }%> 
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>